!!!
%html
%head
  %title Notepad | Super plus!
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
  = csrf_meta_tags 
%body
  %header
    .header_inner
      .logo
        = link_to 'Notepad Super', root_path

      %nav 
        - if user_signed_in?
          = link_to 'Create doc', new_doc_path
          = link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          = link_to 'Log in', new_user_session_path
  
  %p.notice= notice
  %p.alert= alert
  = yield